// Viewport mobile tag for sensible mobile support
meta(name="viewport", content="initial-scale=1.0")
meta(name="viewport", content="width=320.1")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
meta(charset="utf-8")
meta(name="description", content="Dino Search Application")
meta(name="keywords", content="Dinosaurs, Search")
meta(name="author", content="Pavel Anisimov")
meta(http-equiv="X-UA-Compatible", content="IE=edge")

