/**
 * Stylus Variables for the styles
 * @file vars.styl
 * @author Pavel Anisimov <pavel.n.anisimov@gmail.com>
 * @copyright 2011-2015 Pavel Anisimov
 */

// Color definitions

$green = #508f00
$white = #fff
$black = #000
$gray = #929292


//$mainFont = Arial,Helvetica Neue,Helvetica,sans-serif
$mainFont = "Roboto", Helvetica, Arial, sans-serif


$fontSize = 15px

// Dimeptions
$sidebar-width = 300px
$sidebar-min-width = 300px
$full-width = 100%
$full-height = 100%
$conent-width = calc(100% - 300px)