doctype html
html(lang="en")
  head
    title 'Chartboost Coding Challenge'
    include ../partials/meta

    // STYLES
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic")
    link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    // STYLES END

  body
     block body

     //SCRIPTS
     script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
     script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
     script(src="js/main.js")
     //SCRIPTS END

